{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}


        <section id="last-publications">
            <p id="title-section-publication">DERNIERES PUBLICATIONS</p>
            <div class="divider"></div>
            <div class="last-publication">
                <p class="title-LN">Martial Peak Ch. 2052</p>
                <p class="note-LN">★★★★☆</p>
                <p class="resume-chapter-LN">Ten Thousand Medicinal Treasures SoupAfter thinking for a while, Yang Kai solemnly put away the jade slip.He had a free and easy disposition. So, knowing that it would be useless to mess around with the Withered Soul Seal, he stopped paying attention to it.He turned his gaze back to th</p>
                <input class="read-more" type="submit" value="Lire le chapitre">
            </div>
        </section>

        <section id="high-rates">
            <p id="title-section-publication">MEILLEURS NOTES</p>
            <div class="divider margin-bottom"></div>
            <p class="high-rated-LN">Martial Peak</p> <p class="high-rated-LN">★★★★☆</p>
        </section>

        <section id="suggestion">
            <p id="title-section-publication">SUGGESTIONS</p>
            <div class="divider margin-bottom"></div>
        </section>

    </section>
{% endblock %}