{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <section id="translators">

        <p id="title-section-publication">TRADUCTEURS</p>
        <div class="divider-translator"></div>
        <div class="translator-first">
            <p class="info-translator">David Joe a publié</p>
            <p class="info-translator"> 278 chapitres.</p><br/>
            <p class="info-translator-bold">Rang :</p>
            <p class="info-translator">Or</p><br/>
            <p class="info-translator-bold">Participations :</p>
            <p class="info-translator">Martial Peak</p>
        </div>
        <div class="translator">
            <p class="info-translator">David Joe a publié</p>
            <p class="info-translator"> 278 chapitres.</p><br/>
            <p class="info-translator-bold">Rang :</p>
            <p class="info-translator">Or</p><br/>
            <p class="info-translator-bold">Participations :</p>
            <p class="info-translator">Martial Peak</p>
        </div>
        <div class="translator">
            <p class="info-translator">David Joe a publié</p>
            <p class="info-translator"> 278 chapitres.</p><br/>
            <p class="info-translator-bold">Rang :</p>
            <p class="info-translator">Or</p><br/>
            <p class="info-translator-bold">Participations :</p>
            <p class="info-translator">Martial Peak</p>
        </div>
        <div class="translator">
            <p class="info-translator">David Joe a publié</p>
            <p class="info-translator"> 278 chapitres.</p><br/>
            <p class="info-translator-bold">Rang :</p>
            <p class="info-translator">Or</p><br/>
            <p class="info-translator-bold">Participations :</p>
            <p class="info-translator">Martial Peak</p>
        </div>
        <div class="translator-last">
            <p class="info-translator">David Joe a publié</p>
            <p class="info-translator"> 278 chapitres.</p><br/>
            <p class="info-translator-bold">Rang :</p>
            <p class="info-translator">Or</p><br/>
            <p class="info-translator-bold">Participations :</p>
            <p class="info-translator">Martial Peak</p>
        </div>
        <div id="pagination-line">
            <div class="pagination">1</div>
            <div class="pagination">2</div>
            <div class="pagination">3</div>
            <div class="pagination">4</div>
            <div class="pagination">5</div>
        </div>
    </section>

    <section id="recruteurs">
        <p id="title-section-publication">RECRUTEURS</p>
        <div class="divider"></div>
    </section>
{% endblock %}